body {
    background-image: url("./images/background_gif.gif");
    background-size: 1450px;
    background-position: top center !important;
    background-position: center center;
    height: 2000px;
    background-repeat: no-repeat;
    background-color: black;
    align-items: center;
}  
.navbar-header {
    /* font-family: 'Trade Winds', cursive;
    font-family: 'Lacquer', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'BenchNine', sans-serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Knewave', cursive;
    font-family: 'Love Ya Like A Sister', cursive;*/
    font-family: 'Permanent Marker', cursive;
    color: white;
    
} 
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    color: orange;
  }
  .fa:hover {
    color: white;
  }
  .navbar.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: large;
}
.i.icon.video.play:before {
    padding-left: 1080px;
    color: white;
    content: "\f144";
}
.ui.secondary.menu .item {
    padding-top: 25px;
    color: white;
    font-family: 'Permanent Marker', cursive;
}
.ui.secondary.menu {
    padding:15px;
    font-size: 17px;
}
.responsive {
    width: 93%;
    height: auto;
 }
 i.icon:before {
    color: aliceblue;
  }

#fireplace{
    padding-top: 200px;
    width: 100rem;
    height: 73rem;
}

.centerbuttons {
    margin: 0 auto;
    text-align: center;
    padding-right: 7.5rem ;
  }
  .ui.button {
    font-family: 'Love Ya Like A Sister', cursive;
    background-color: rgb(10, 10, 32);
    color: aliceblue;
  }
@media screen and (min-width: 768px) {
     /* For mobile phones: */
    .body {
      width: 100%;
    } 
  } 
  @media screen and (max-width: 768px) {
    /* For mobile phones: */
   .centerbuttons, h1 {
    padding-left: 70px;
   } 
 } 
/* 
  @media screen and (max-width: 768px) { */
    /* For mobile phones: */
   /* #logo {
    width: 7.108in;
    height: 2in;
    margin: 0 auto;
   }  */
/* } */
@media screen and (max-width: 768px) {
    /* For mobile phones: */
   #fireplace {
    padding-top: 170px;
    width:120%;
    padding-bottom: 200px;
   } 
}

@media screen and (max-width: 768px) {
  #desc {
    width: 87%;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    color: whitesmoke;
}
}
  /* @font-face {
    font-family: 'pantano_thingregular';
    src: url('pantano_thing-webfont.woff2') format('woff2'),
         url('pantano_thing-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */


#dataContainer{
    margin: 0 auto;

    font-family: 'Fjalla One', sans-serif;
}

#header{
    font-family: 'Love Ya Like A Sister', cursive;
    color: whitesmoke;
    text-align: center;
    font-weight: 800;
    padding-right: 7.5rem ;

}
#bigDiv{
    margin-bottom: 30rem;
}
.hide{
    display: none;
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color: darkred;
  width: 10px;
}
.scare{
    font-size: 4.3rem;
    text-align: center;
    margin: 0 auto;
    text-decoration: wavy;
    padding-bottom: 3rem;
    margin:40px;
    font-family: 'Trade Winds', cursive;
     /* font-family: 'Lacquer', sans-serif; */
    /* font-family: 'Indie Flower', cursive;  */
}
.text {
  padding-top: 15px;
}
#desc{
width: 60%;
height: 290px;
margin: 0 auto;
text-align: center;
background-size: cover;
color: whitesmoke;
}
#col2 {
    padding-bottom: 50%;
    padding-top: 20%;
    background-image: url("./images/footprints.gif");
    background-position: 5px;
    background-size: contain;
    
}
.fa.fa-thumbs-up {
  display: inline-block;
  font: normal normal normal 10px FontAwesome;
  font-size: 90%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-left: 10px;
  -moz-osx-font-smoothing: grayscale;
}
img {
  border-style: none;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .scare {
    font-size: 2.3rem;
}
}